@import url("./extras/colors.css");
@import url("./extras/basicUtils.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  background: var(--bg-primary);
}
main .left-main {
  width: 80%;
}
main .right-main {
  width: calc(100% -80%);
}